body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #e9f7ff;
  color: #333;
}
header {
  padding: 2rem;
  /*i want it to be right side*/
  text-align: right;
  max-width: 800px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.bmi-box {
  background: white;
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.calc-inputs {
  margin-top: 1rem;
}
.calc-inputs input {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
}
.hero-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}
.section-box {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.card {
  flex: 1 1 30%;
  background: #f5faff;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.card img {
  width: 32px;
  height: 32px;
}
h1,
h2 {
  color: #1e6aa6;
}
